.footer {
  background-color: $color-red;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer span:first-of-type {
  height: 40px;
}

.footer span:nth-of-type(2) {
  height: 20px;
  background-color: black;
  color: white;
}
