.package-list-item {
  height: 80px;
  width: 350px;
  padding: 0 $space-medium;
  background-color: $color-red;
  border-radius: 30px;
  font-size: $paragraph-mobile;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .big {
    font-size: $paragraph-mobile-big;
    display: inline-block;
    margin-right: auto;
  }

  span {
    text-transform: capitalize;
    font-size: $paragraph-mobile;
  }

  .icon-holder {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-wheat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    font-size: 20px;
    color: $color-red;
  }
}
