#about {
  min-height: 100vh;
  border-top: 60px solid $color-blue-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-medium;
  background-color: $color-wheat;
  padding: $space-medium $space-medium;
  text-align: center;
  color: $color-grey;

  img {
    height: 300px;
  }

  p {
    max-width: 500px;
  }

  @media (min-width: 1000px) {
    width: 750px;
    margin: 0 auto;
    border-left: solid $color-red 2px;
    border-right: solid $color-red 2px;
    background-color: $color-white-pale;
  }
}
