.empty-list {
  border-top: 60px solid $color-blue-white;
  width: 100vw;
  height: 100vh;
  padding: 0 $space-medium;
  color: $color-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: $space-big;

  p {
    font-size: $paragraph-mobile-big;
    line-height: 200%;
  }

  @media (min-width: 750px) {
    p {
      font-size: $paragraph-tablet-big;
      line-height: 200%;
    }
  }
  @media (min-width: 1000px) {
    p {
      font-size: $paragraph-desktop-big;
      line-height: 200%;
    }
  }
}
