#home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $color-blue-white;

  .hero {
    height: 450px;
    width: 100%;
    max-width: 750px;
    border-top: 60px $color-blue-white solid;
    background: url("../../../public/assets/hero-mobile.jpg");
    background-size: cover;
    background-position: left;
  }
}

#home {
  .container {
    flex: auto;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $space-medium;
    background: repeating-linear-gradient(
      to right,
      $color-red,
      $color-red 0.75px,
      $color-blue-white 0.75px,
      $color-blue-white 70px
    );

    .insta,
    .tracker {
      display: none;
    }
  }
}

#home {
  .container {
    .welcome-message {
      color: $color-grey;
      padding: $space-small;
    }

    button:hover {
      cursor: pointer;
    }

    .view-button {
      height: 80px;
      width: 70%;
      border-radius: 5px;
      background-color: $color-red;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $space-medium;
    }
  }
}

#home {
  @media (min-width: 750px) {
    background: repeating-linear-gradient(
      to right,
      $color-red,
      $color-red 0.75px,
      $color-blue-white 0.75px,
      $color-blue-white 70px
    );
  }

  @media (min-width: 1000px) {
    flex-flow: row;
  }

  .hero {
    @media (min-width: 550px) {
      height: 65vh;
      background-position: right;
    }

    @media (min-width: 750px) {
      background: url("../../../public/assets/hero-tablet.jpg");
      height: 65vh;
      background-position: right;
      background-size: cover;
    }

    @media (min-width: 1000px) {
      border-top: none;
      background: url("../../../public/assets/hero.jpg");
      background-size: cover;
      background-position: right;
      height: 100vh;
      max-width: 60vw;
    }
  }
}

#home {
  .container {
    @media (min-width: 750px) {
      background: transparent;
    }

    @media (min-width: 1000px) {
      width: auto;
      padding: $space-big;
      align-items: flex-start;
      gap: $space-medium;

      .tracker {
        display: block;
        font-size: 135px;
        letter-spacing: $space-big;
        position: absolute;
        right: 90px;
        bottom: 40px;
        color: $color-red;
        -webkit-text-stroke: rgb(233, 230, 230) 3px;
        margin-right: $space-big;
      }

      .insta {
        position: absolute;
        display: block;
        color: $color-red;
        top: 70px;
        right: 0px;
        bottom: 0px;
        width: 135px;
        font-size: 135px;
        text-align: center;
        word-wrap: break-word;
        color: $color-grey;
        -webkit-text-stroke: rgb(237, 236, 236) 3px;

        @media (max-height: 850px) {
          font-size: 105px;
          width: 105px;
        }
      }
    }
  }
}
