//Colors
$color-red: #ec5b68;
$color-wheat: #f5deb3;
$color-blue-white: #d9e2e7;
$color-yellow: #ffc77a;
$color-grey: #453c3c;
$color-white-pale: #faf9f6;

//Font-Size
$paragraph-mobile: 14px;
$paragraph-mobile-big: 20px;
$paragraph-tablet: 20px;
$paragraph-tablet-big: 24px;
$paragraph-desktop: 20px;
$paragraph-desktop-big: 32px;
$paragraph-nav: 18px;

// Spacing
$space-small: 8px;
$space-medium: 16px;
$space-big: 32px;

// Media queries
$media-big-phones: 550px;
$media-tablet: 750px;
$media-desktop: 1280px;
